/* Style général pour le corps et toutes les sections */
body, .info-container, .section {
    font-family: Arial, sans-serif;
    background-color: #494949;
    color: #d3d3d3;
    margin: 0;
    padding: 20px;
}

/* Style pour les tableaux */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    text-align: left;

}

/* Alternance de couleurs pour les lignes du tableau */
table tr:nth-child(odd) {
    background-color: #494949;
}
table tr:nth-child(even) {
    background-color: #7a7a7a;
}

/* Style pour les cellules du tableau */
td, th {
    padding: 10px;
    border: none;
    vertical-align: top;
}

/* Style pour les liens */
a {
    color: #0015ff;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color: #fff;
}

/* Style pour la photo */
.photo {
    width: 90px;
    height: auto;
    float: right;
    margin-left: 20px;
}

/* Style pour les titres */
h2 {
    background-color: #808080;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 10px;
}

/* Style pour les sections */
.section {
    border: 2px dotted #d3d3d3;
    border-radius: 10px;
    margin-bottom: 15px;
}

/* Liste personnalisée */
.custom-list {
    list-style-type: square;
    padding-left: 20px;
}

/* Suppression des bordures internes du tableau */
table, tr, td, th {
    border: none;
}


  
      
      



